<h1>REPLAY SUBJECT</h1>
<p>- It's a Observable mutable and It doesn't have an initial value, so, subscribers only receive values emitted after they subscribe but just a specify quantity (last one values).</p>
<p>Try this... if you click <i>add new value</i> and after click <i>observer subject</i> yo don´t see new list of posts! but, if you click <i>observer subject</i> and after click <i>add new value</i> yo will see new list of posts</p>
<br/>
<div>
  <replay-subject-first></replay-subject-first>
  <replay-subject-second></replay-subject-second>
</div>
